@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1e3a8a;
  --ifm-color-primary-dark: #1b347c;
  --ifm-color-primary-darker: #1a3175;
  --ifm-color-primary-darkest: #152961;
  --ifm-color-primary-light: #214098;
  --ifm-color-primary-lighter: #22439f;
  --ifm-color-primary-lightest: #274bb3;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #06b6d4;
  --ifm-color-primary-dark: #05a4bf;
  --ifm-color-primary-darker: #059bb4;
  --ifm-color-primary-darkest: #047f94;
  --ifm-color-primary-light: #07c8e9;
  --ifm-color-primary-lighter: #07d1f4;
  --ifm-color-primary-lightest: #23daf9;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

body {
  @apply font-cabin;
}

a {
  color: var(--ifm-link-color);
  text-decoration: var(--ifm-link-decoration);
}

figcaption {
  @apply text-xs;
}

.content-styling h1 {
  @apply text-2xl font-bold !mb-2;
}

h2 {
  @apply font-bold text-xl;
}

.content-styling h3 {
  @apply font-bold text-lg;
}

.content-styling ul {
  @apply list-disc ml-2;
}

.content-styling ol {
  @apply list-decimal ml-2;
}

.content-styling blockquote {
  @apply mb-2;
}

.content-styling p {
  @apply mb-3;
}

.content-styling .img-gallery p {
  @apply flex gap-x-2 flex-wrap max-w-full;
}

.content-styling .img-gallery img {
  @apply xs:h-72 xs:w-auto;
}

.content-styling img {
  @apply object-contain max-w-full w-[32rem] h-auto my-1;
}

.content-styling .img-full img {
  @apply w-full h-auto;
}

svg {
  @apply inline;
}

.navbar__items--right {
  @apply hidden 2xs:flex;
}

.navbar-home {
  @apply sm:fixed left-0 right-0 duration-300 transition-all;
}

.navbar-home-top {
  @apply sm:bg-transparent sm:shadow-none;
}

.navbar-home-top .navbar__items--right {
  @apply sm:opacity-0 4xl:opacity-100;
}

.navbar-home-top .navbar__link, .navbar-home-top .navbar__title, .navbar-home-top .navbar__toggle, .navbar-home-top .navbar__items {
  @apply sm:text-white;
}

.navbar-home #header-logo-dark {
  @apply block;
}

.navbar-home-top #header-logo-dark {
  @apply sm:opacity-100;
}

.navbar .DocSearch-Button {
  @apply hidden;
}

.navbar-wiki .navbar__items--right {
  @apply flex;
}

.navbar-wiki .navbar__items--right .navbar__item {
  @apply hidden md:flex;
}

.navbar-wiki .DocSearch-Button {
  @apply flex;
}